@* <div class="container" style="max-width: 500px; margin-top: 50px;">
    <div class="card" style="padding: 20px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h2 class="text-center">Create New Password</h2>
        <form method="post" action="/Account/CreateNewPassword">
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" name="Password" required />
                <small class="form-text text-danger" style="display: block;">Too short</small>
                <small class="form-text text-muted" style="display: block;">
                    <ul style="padding-left: 20px;">
                        <li>Must contain special character</li>
                        <li>Must contain a number</li>
                    </ul>
                </small>
            </div>
            <div class="form-group">
                <label for="ConfirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
        @if (ViewBag.Message != null)
        {
            <div class="text-success text-center" style="margin-top: 20px;">
                <p>@ViewBag.Message</p>
            </div>
        }
    </div>
</div>
 *@