@model TenexCars.Models.ViewModels.SetNewPasswordViewModel

@{
	ViewBag.Title = "Set New Password";
}
<div class="container" style="max-width: 700px; margin-top: 50px;">
	<div class="card" style="padding: 20px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
		<form method="post" asp-controller="Account" asp-action="SetNewPassword">

			<h2 class="text-center mb-2">Set New Password</h2>

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="UserId" />
			<input type="hidden" asp-for="Token" />

			<div class="form-group mb-3">
				<label asp-for="NewPassword" class="control-label"></label>
				<input asp-for="NewPassword" type="password" class="form-control" />
				<span asp-validation-for="NewPassword" class="text-danger"></span>
			</div>
			<div class="form-group mb-3">
				<label asp-for="ConfirmPassword" class="control-label"></label>
				<input asp-for="ConfirmPassword" type="password" class="form-control" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Set New Password</button>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
