﻿
@{
    ViewData["Title"] = "Operator";
}

@model IEnumerable<TenexCars.DataAccess.Models.Vehicle>

<div class="text-center">
    <h1 class="display-4">Welcome Operator</h1>
    <div class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Operator" asp-action="ManageOperatorMembers">Manage Operator Members</a>
        <div>
            <a class="nav-link" asp-area="" asp-controller="Operator" asp-action="CreateVehicle">Create Vehicle</a> @*  For testing purpose *@
        </div>
    </div><br />
    
</div>
@* <h1>Operator sucessful</h1>
    <h1 class="display-5">Hello </h1>
   
    
</div> *@